<header>
    <nav class="navigation">
        <a href="/" class="qatar-logo" >          
         <img src="/assets/Qatar-museums-Logo (2).png" alt="Qatar museums logo">
        </a>
    <ul class="nav-bar">
       
        <li class="nav-links">
            <a href=""><span class="AR-nav">قــصـص</span>
                <br>STORIES</a> 
        </li>        
        <li class="nav-links">
            <a href=""><span class="AR-nav">ماهوالجديد</span><br>
               {{ "what's on" |  upcase }}</a>
        </li>        
        <li class="nav-links">
            <a href="" class=""><span class="AR-nav">الـمـجـمـوعــة</span><br>
            {{ "collection" |  upcase }}</a>
        </li>        
        <li class="nav-links">
            <a href=""><span class="AR-nav">زيـارة</span><br>
            {{ "visit" |  upcase }}</a>
        </li>    
        
        <li class="ticket-link">
            <a href="" class="ticket-a">TICKETS</a>
        </li>

        <li class="nav-links">
            <a href=""> <img src="/assets/member-icoon.svg">
                 {{ "members" |  upcase }}</a>
        </li>

        <li class="nav-links">
            <a href=""> <img src="/assets/locatie-icoon.svg">
                {{  "Venues" |  upcase}}</a>
        </li>

        <li class="nav-links">
        <a href="/likes" class="nav-links-like">
            <span class="sr-only">
                Likes
            </span>
        </a>
        </li>
        <button class="menu-button"> <img src="/assets/menu-icoon.svg">
            {{ "menu" |  upcase }}</button>
    </ul>
    </nav>
</header>